a.treeLink
{
	vertical-align: bottom;
	padding: 0px;
	cursor: pointer;
}

a.treeLink:hover
{
	background-color: #ffc73c;
}

.tree
{
	margin-left: 4px;
}

table.treeRow
{
	display:block;
	vertical-align: middle;
}

table.treeRow td
{
	white-space: nowrap;
	vertical-align: middle;
}

table.treeRow-active
{
	display:block;
	vertical-align: middle;
}

table.treeRow-active td
{
	white-space: nowrap;
	vertical-align: middle;
}

span.treeActive
{
	background-color: #d0edd8;
}

.treeControl
{
	vertical-align: middle;
	text-align: left;
}

.treeNode
{
	margin-top: 2px;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 9pt;
}
