html, body, #canvas
{
	margin: 0;
	padding: 0;
	/*height: 100%;*/

	border: none;
	background-color: #000;
	/*background-image: url(../images/skar_background.png);
	background-repeat: repeat-x;*/
	font-family: "Trebuchet MS";	
}



	
#subtitle{
	display: none;	
}

#fotocomment
{
	float: left;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 5px;
	font-size: 9pt;
	line-height: 12pt;
	text-align : left;
	font-weight: bold;
	vertical-align: bottom;
	overflow: hidden;
	color: #FFF;
	background: none;
}
#fotocomment div {
	letter-spacing: 1pt;
	padding-right: 10px;
	display: inline;
}
#content
{
	display: none;
	position: relative;
	visibility: visible;
}
#content-canvas
{
	background-color: #FFEFEF;	
	/*width: 360px;
	height: 320px;*/
}

#content-field
{
	display: block;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 25px;
	font-size: 9pt;
	line-height: 12pt;
	text-align : left;
	color: #931862;
	/*overflow: hidden;*/
}
#content-field a
{
	color: #F74918;
	font-weight: bold;
	text-decoration: none;
}
#content-intro
{
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: "Trebuchet MS";
}

#content-fieldintrou
{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	border-collapse:collapse;
	background: #F74918;
}



#content-fieldintro 
{
	display: listitem;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	font-size: 10pt;
	line-height: 15pt;
	text-align : left;
	color: #fff;
	overflow: hidden;
	background: #F74918;
}

#content-fieldintro a
{
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
}
#content-fieldintro em
{
	color: #10006B;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
}	
#content-navintro
{
	display: none;
	background: #F74918;
	height: 20px;
	font-size: 9pt;
	line-height: 14px;
	padding: 3px 15px 3px 3px;
	text-align : right;
	color: #931862;
}
#content-nav
{
	display: none;
	background-color: #FFEFEF;
	height: 20px;
	font-size: 9pt;
	line-height: 12pt;
	margin: 3px 15px 3px 3px;
	text-align : right;
	color: #931862;
}

#content-nav a
{
	text-decoration: none;
	color: #10006B;
	font-weight: bold;
}

#content-navintro a
{
	text-decoration: none;
	color: #F74918;
	font-weight: bold;
}

	#content-menu
{
	/* background-color: #FFF; */
	width: 150px;
	height: 160px;
	opacity: .75;
	filter: alpha(opacity=75);
	float: right;
	vertical-align: middle;
}

#content-menu table
{
	background-color: #FFF;
	color: #10006B; 
	width: 150px;
	/*min-height: 189px;*/
	font-size: 9pt;
	font-weight: bold;
	line-height: 11eept;
	text-align : left;
	/* padding: 5px; */
		padding: 0px;
	margin: 0px;
	border-collapse:collapse;

}

#content-menu td
{
	padding: 10px;
	background-repeat: no-repeat;
}

#content-menu a:link 
{
	color: #10006B;
	text-decoration: none;
}

#content-menu a:visited 
{
	color: #10006B;
	text-decoration: none;
}

#content-menu a:hover 
{
	color: #F74918;
	text-decoration: none;
}

#content-menu a:active 
{
	color: #10006B;
	text-decoration: none;
} 


#content-title
{	
	padding: 3px 0px 3px 15px;
	color: #fff;
	background-color: #9c599c;
	font-size: 13pt;
	font-weight: bold;
	line-height: 24px;
	text-align : left;
	width: 100%
	overflow: hidden;
	white-space: pre;
	
}


/*
 * Flow 
 */

#flow
{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #e7dfef;
	visibility: hidden;
	text-align: left;
	z-index: 1;
}

#flow-bar
{
	text-align: left;
	position: relative;
	color: #fff;
	background-color: #a59ac6;
	height: 35px;
	font-size: 13pt;
	line-height: 35px;	
	font-weight: bold;
	padding-left: 5px;
}

#flow-body
{
	margin: 10px;
	overflow: hidden;
	color: #931862;
}
#flow-content
{
	font-size: 9pt;
	overflow: hidden;
}

#flow-content-left
{

}

#flow-content-title
{
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 8px;
}

#flow-content-text
{
	line-height: 13pt;
	word-wrap: break-word;
}

#flow-content-right
{
	font-size: 9pt;

}

#flow-content-right ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#flow-content-right ul li
{
	margin: 0px;
	padding-bottom: 25px;
}
#flow-content-right table
{
	width: 100%;
}

#flow-conditions
{
	background-color: #fff;
	border: solid 1px #ccc;
	/*overflow: auto;*/
	/*height: 160px;*/
	width: 90%;
	padding: 4px;
	color: #000;
	font-family: 'Courier';
}

#flow-footer
{
	padding: 0px;
	vertical-align: bottom;
}

#flow-footer ul
{
	display: block;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	list-style: none;
}

#flow-footer li
{
	display: block;
	float: right;
}

#flow-footer input
{
	font-size: 9pt;
	width: 90px;
	height: 21px;
	margin-left: 4px;
}

/* 
 * Top 
 */

#top
{
	width: 960px;
	height: 580px;
}


/* Tools */

#tools 
{

	display: block;
	position: relative;

	height: 34px;
	margin: 0px;
	padding: 0px;
	font-size: 13pt;
	font-weight: bold;
	line-height: 16px;
	text-align : right;
	list-style:none;
	background: #10006B;
}

#tools ul 
{
	display : block;
	margin: 0px;
	padding: 0px;
	text-align : right;
	list-style: none;
}

#tools li 
{
	float: right;
	list-style-type: none;
}

#tools li div 
{
	height: 28px;
	margin-right: 20px;
	float: left;
	font-size: 9pt;
	font-weight: bold;
	white-space: nowrap;
	color : #FFF;
	padding-top : 10px;
}

#tools a
{
	cursor: pointer;	
}

#tools a:link 
{
	color: #FFF;
	text-decoration : none;
}

#tools a:visited 
{
	color: #FFF;
	text-decoration : none;
}

#tools a:hover 
{
 	color: #F74918; 
}

#tools a:active 
{
	color: #5C594A;
 	/* background-color: #FF0; */
}

.facebook
{
	width: 24px;
	height: 32px;
	margin-right: 10px;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-position:center; 
	display:block;
	background-image: url(../images/facebook-24x24.png);
}


.tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}
.tooltip span {
  margin-left: -999em;
  position: absolute;
}
.tooltip:active span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}

.classic { padding: 0.8em 1em; }

.classic { background: #FFFFAA; border: 1px solid #FFAD33; }
* html a:hover { background: transparent; }

#twitter{
	/*background:url(../images/twitter.png);*/
-moz-background-size:32px 32px; /* Firefox 3.6 */
background-size:32px 32px;
background-repeat:no-repeat;
background-position: 12px 8px;
background-color: #603395;
min-height: 42px;
border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding-left: 53px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 0px;
	font-size: 9pt;
}
#twitterdate{
	color: #A59AC6; 
	padding-right: 4px;
}
#twittertext{
	color: #FFF; 
}
#twittertext a:link, #twittertext a:visited, #twittertext a:hover, #twittertext a:visited{
	color: #A59AC6; 
	text-decoration: none;
	font-weight: bold;
}	
#twitterfollow{
	display: block;
}
#twitterfollow, #twitterfollow a:link, #twitterfollow a:visited, #twitterfollow a:hover, #twitterfollow a:visited{
	color: #F74918; 
	text-decoration: none;
	font-weight: bold;
}


#ateliers 
{
	list-style-type:none; margin: 0; padding: 0; display: block;
}
#ateliers li{
	display: block;
}
#ateliers img{
	float: left;
	padding-right: 10px;
	border: 0px;
}
#ateliers ul:after{
	clear: both;
}
#atelier-row{
	display: block;
	min-height: 60px;
	border-bottom: 1px solid #A59AC6;
	padding-top: 5px;
	padding-bottom: 5px;
}
#atelier-text{
	padding-bottom: 5px;
}
#atelier-name{
	font-weight: bold;
	font-size: 10pt;
	display: block;
}
#atelier-region{
	display: block;
}
#atelier-description{
	display: block;
}

#slideshow
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 480px;
	height: 320px;
	background-color: #e7dfef;
		background:url(../images/backgrounds/stadhuisplein_01_vooraanzicht.jpg);
-moz-background-size:480px 240px; /* Firefox 3.6 */
background-size:480px 240px;
background-repeat:no-repeat;
	/*visibility: hidden;*/
	text-align: left;
	z-index: 1;
}


#slideshow-bar
{
	text-align: left;
	position: relative;
	color: #fff;
	background-color: #a59ac6;
	width: 100%;
	height: 35px;
	font-size: 13pt;
	line-height: 35px;	
	font-weight: bold;
}

#slideshow-body
{
	margin: 10px;
	height: 235px;
	overflow: hidden;
	color: #931862;
}

#slideshow-content
{
	height: 200px;
	font-size: 9pt;
	overflow: hidden;
}

#slideshow-content-left
{
	display: inline;
	width: 50%;
	float: left;
}

#slideshow-content-title
{
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 8px;
}

#slideshow-content-text
{
	line-height: 13pt;
}

#slideshow-content-right
{
	font-size: 9pt;
	display: inline;
	width: 50%;
	float: right;
	vertical-align: top;
}

#slideshow-content-right ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#slideshow-content-right table
{
	width: 100%;
}

#slideshow-content-right input.naw
{
	width: 200px;
}

#slideshow-conditions
{
	background-color: #fff;
	border: solid 1px #ccc;
	overflow: auto;
	height: 160px;
	padding: 4px;
	color: #000;
	font-family: 'Courier';
}

#slideshow-footer
{
	padding: 0px;
	vertical-align: bottom;
}

#slideshow-footer ul
{
	display: block;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	list-style: none;
}

#slideshow-footer li
{
	display: block;
	float: right;
}

#slideshow-footer input
{
	font-size: 9pt;
	width: 100px;
	height: 21px;
	margin-left: 4px;
}


@media only screen 
and (min-width : 321px) and (orientation:landscape) {
		 
html, body, #canvas
{
	width:480px;

}	 

	#logohome{
		width:100%;
		height:68px;
		background:url(../images/smart_logo.jpg);
-moz-background-size:480px 68px; /* Firefox 3.6 */
background-size:480px 68px;
background-repeat:no-repeat;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
	}	 
	#logocontent{
		width:480px;
		height:60px;
		background:url(../images/smart_logo.jpg);
-moz-background-size:480px 60px; /* Firefox 3.6 */
background-size:480px 60px;
background-repeat:no-repeat;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
	}	 	
	
	#page{
		width:480px;
		height:240px;
		background:url(../images/backgrounds/default_01_bg.jpg);
-moz-background-size:480px 240px; /* Firefox 3.6 */
background-size:480px 240px;
background-repeat:no-repeat;
	overflow: hidden;
	}	 

	#page2{
			font-family: "Trebuchet MS";
				width: 480px;
				background-color: #FFEFEF;	
	}

	#content-fieldintro img
	{
		width:480px;
	}
	
#menu ul
{
	display: block;
	width: 480px;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	list-style: none;
	height: 28px;
}

#menu li
{
	display: block;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	float: left;
}

#menu a
{ 
	display : block;
	color: #10006B; 
	background-color: #A59AC6;
	text-decoration : none;
	width: 119px;	
	font-weight: bold;
	line-height: 14px;
	white-space: nowrap;
	text-align : left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}  

#menu a:hover 
{
	color: #F74918;
 	background-color: #E7DFEF; 
}

.menutitle
{
	font-size: 9pt;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 3px;
}
#subtitle
{
	font-size: 7pt;
	font-weight: normal;
	padding-left: 3px;
} 
	
#flow
{
	width: 480px;
	min-height: 320px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #e7dfef;
	visibility: hidden;
	text-align: left;
	z-index: 1;
}
#flow-body
{
	min-height: 240px;
	width: 480px;

}
#flow-content
{
	min-height: 220px;
	/*padding-bottom: 20px;*/
}
#flow-content-left
{
	width:220px;
	display: inline;
	float: left;
	margin-bottom: 30px;
}
#flow-content-text
{
	width:210px;
	word-wrap: break-word;
}
#flow-content-right
{
	width: 230px;
	display: inline;
	float: left;
	vertical-align: top;
}
#flow-content-right input.naw
{
	width: 140px;
}
#flow-bar
{
	width: 480px;
}
#flow-footer
{
	width: 450px;
} 

#tools 
{
		width: 480px;
}
/* Alert */

ul#alertlist  
{
	width: 480px;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	list-style: none;
}

#alertlist li 
{
	display: inline;
	float: left;
	list-style-type: none;
}
#alertlist div 
{
	width: 223px;
	height: 55px;
	padding-top: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	background: #10006B;
}

#alert 
{
	display : block;
	margin: 0px;
	padding: 0px;
	font-size: 9pt;
	line-height: 14px;
	text-align : left;
	background: #10006B;
}
#alert table{
	width: 320px;
	border-collapse: collapse;

}
#alert thead{
	border-top: 1px solid #fff;
	border-collapse: collapse;
	height: 35px;
	display : block;
}
#alert tbody{
	width: 320px;
	border-collapse: collapse;
	display : block;
}
#alert tr 
{
	margin: 0px;
	padding: 0px;
	text-align : left;
	display : block;
	border-collapse: collapse;
}

#alert td 
{
	border-right: 1px solid #fff;
	list-style-type: none;
	color: #E7DFEF;
	border-collapse: collapse;
}

#alert td
{
	width: 160px;
	font-weight: normal;
	color: #E7DFEF;
	padding: 5px;
	vertical-align: top;
}

#alertlist a:link 
{
	color: #FFF;
	text-decoration : none;
}

#alertlist a:visited 
{
	color: #FFF;
	text-decoration : none;
}

#alertlist a:hover 
{
	color: #FFF;
	text-decoration : underline;
}

#alertlist a:active 
{	
} 

#alertfirst
{ 	
}

#alert-title
{
	font-weight: bold;
	font-size: 9pt;
	line-height: 11pt;
	display : block;
	min-height:40px;
} 

#alert-archive
{
	font-size: 8pt;
	vertical-align: bottom;
	text-align: right;
	float:right;
	color: #F74918;
	display : block;
}
#alert-archive a:link 
{
	color: #F74918;
	text-decoration : none;
}

#alert-archive a:visited 
{
		color: #F74918;
	text-decoration : none;
}

#alert-archive a:hover 
{
		color: #F74918;
	text-decoration : underline;
}

#alert-archive a:active 
{	
} 
#alert-text
{
	font-size: 11px;
	vertical-align: bottom;
}

		 
}
		 

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {


html, body, #canvas
{
	width:320px;
}

	#logohome{
		width:100%;
		height:68px;
		background:url(../images/smart_logo.jpg);
-moz-background-size:480px 68px; /* Firefox 3.6 */
background-size:480px 68px;
background-repeat:no-repeat;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
	}	 
	#logocontent{
		width:320px;
		height:40px;
		background:url(../images/smart_logo.jpg);
-moz-background-size:320px 40px; /* Firefox 3.6 */
background-size:320px 40px;
background-repeat:no-repeat;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
	}	 	
	
	#page{
		width:320px;
		height:160px;
		background:url(../images/backgrounds/default_01_bg.jpg);
-moz-background-size:320px 160px; /* Firefox 3.6 */
background-size:320px 160px;
background-repeat:no-repeat;
	overflow: hidden;
	}	 

	#page2{
			font-family: "Trebuchet MS";
				width: 320px;
				background-color: #FFEFEF;	
	}

	#content-fieldintro img
	{
		width:320px;
	}
	
#menu ul
{
	display: block;
	width: 320px;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	list-style: none;
	height: 28px;
}

#menu li
{
	display: block;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	float: left;
}

#menu a
{ 
	display : block;
	color: #10006B; 
	background-color: #A59AC6;
	text-decoration : none;
	width: 79px;	
	font-weight: bold;
	line-height: 14px;
	white-space: nowrap;
	text-align : left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}  

#menu a:hover 
{
	color: #F74918;
 	background-color: #E7DFEF; 
}

.menutitle
{
	font-size: 7pt;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 3px;
}
#subtitle
{
	font-size: 7pt;
	font-weight: normal;
	padding-left: 3px;
} 

#flow
{
	width: 320px;
	min-height: 510px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #e7dfef;
	visibility: hidden;
	text-align: left;
	z-index: 1;
}
#flow-body
{
	min-height: 395px;
}
#flow-content
{
	min-height: 340px;
	padding-bottom: 20px;
}
#flow-content-left
{
	width: 100%;
	display: inline;
	float: left;
	margin-bottom: 30px;
}
#flow-content-right
{
	width: 100%;
	display: inline;
	float: right;
	vertical-align: top;
}
#flow-content-right input.naw
{
	width: 200px;
}
#flow-bar
{
	width: 320px;
}
#flow-footer
{
	width: 290px;
} 

#tools 
{
		width: 320px;
}

/* Alert */

ul#alertlist  
{
	width: 320px;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	list-style: none;
}

#alertlist li 
{
	display: inline;
	float: left;
	list-style-type: none;
}
#alertlist div 
{
	width: 143px;
	height: 55px;
	padding-top: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	background: #10006B;
}

#alert 
{
	display : block;
	margin: 0px;
	padding: 0px;
	font-size: 9pt;
	line-height: 14px;
	text-align : left;
	background: #10006B;
}
#alert table{
	width: 320px;
	border-collapse: collapse;

}
#alert thead{
	border-top: 1px solid #fff;
	border-collapse: collapse;
	height: 35px;
	display : block;
}
#alert tbody{
	width: 320px;
	border-collapse: collapse;
	display : block;
}
#alert tr 
{
	margin: 0px;
	padding: 0px;
	text-align : left;
	display : block;
	border-collapse: collapse;
}

#alert td 
{
	border-right: 1px solid #fff;
	list-style-type: none;
	color: #E7DFEF;
	border-collapse: collapse;
}

#alert td
{
	width: 160px;
	font-weight: normal;
	color: #E7DFEF;
	padding: 5px;
	vertical-align: top;
}

#alertlist a:link 
{
	color: #FFF;
	text-decoration : none;
}

#alertlist a:visited 
{
	color: #FFF;
	text-decoration : none;
}

#alertlist a:hover 
{
	color: #FFF;
	text-decoration : underline;
}

#alertlist a:active 
{	
} 

#alertfirst
{ 	
}

#alert-title
{
	font-weight: bold;
	font-size: 9pt;
	line-height: 11pt;
	display : block;
	min-height:40px;
} 

#alert-archive
{
	font-size: 8pt;
	vertical-align: bottom;
	text-align: right;
	float:right;
	color: #F74918;
	display : block;
}
#alert-archive a:link 
{
	color: #F74918;
	text-decoration : none;
}

#alert-archive a:visited 
{
		color: #F74918;
	text-decoration : none;
}

#alert-archive a:hover 
{
		color: #F74918;
	text-decoration : underline;
}

#alert-archive a:active 
{	
} 
#alert-text
{
	font-size: 11px;
	vertical-align: bottom;
}
		 
}
